body{
    background-color: green;
    margin: 0px;
    border: 0px;
    font-family: Arial, Helvetica, sans-serif;
    /*background-image: linear-gradient(to right, rgb(20, 147, 220), rgb(115, 243, 137));*/
}

section{
    margin: 0px;
    border: 0px;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 5em;
    padding-right: 5em;
    z-index: 1;
}

.header_img{
    position: sticky;
    top: 0px;
    width: 100%;
    height: auto;
    z-index: 0;
}

header{
    position: sticky;
    background-repeat: no-repeat;
    background-size: cover;
}

div{
    margin: 1em;
    border: 1em;
    padding: 1em;
    display:block;
}

.box1{
    color: white;
    position: absolute;
    top: 20%;
    left: 40%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 15px;
    width: 60%;
}